КАК ДА СИ ПИШЕМ КОДА, ЗА ДА Е ПРИБЛИЗИТЕЛНО ЕДНАКЪВ ПО СТИЛ

променливи: по java стандарт; примерно: attackPower, defencePower и т.н.
структури: по С стандарт; примерно: card_t, deck_t и т.н.
функции: по С стандарт; примерно: perform_attack, create_deck и т.н.

МОЛЯ НИКОЙ ДА НЕ ДОБАВЯ ПОВЕЧЕ main.c файлове!!! (или каквито и да е файлове с main функции)
За тестове променяйте main.c, но да остават и предишните тестове. (ако е възможно, ако не - в коментар)
